<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="V0.1" package="Azureoid - Azure Management Tool">
	<uses-sdk />
	<application android:label="Azureoid - Azure Management Tool" android:icon="@drawable/icon"></application>
</manifest>