<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="V0.1" package="Azureoid - Azure Management Tool">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
	<application android:label="Azureoid" android:icon="@drawable/icon"></application>
</manifest>